body {
	background: #fefefe;
	margin: auto;
	max-width:1000px;
}

.top {
	background: #cccccc;
	border: 3px solid #acacac;
	margin: 20px 0px;
	text-align: center;
}

.menu .footer {
	background: #cccccc;
	text-align: center;
	border: 3px solid #acacac;
}

.kim-jestem {
	margin:0px 15px; 
}

a {
	color: #6b1d1d;
	font-size: 18px;
}